OPENAI_API_KEY= 여기에 오픈 AI api 키를 입력하세요
OPENAI_BASE_URL=https://api.openai.com/v1

LLAMAPARSE_API_KEY= 여기에 라마 인덱스 api 키를 입력하세요
LLAMAPARSE_BASE_URL=https://api.cloud.llamaindex.ai
LLAMAPARSE_TIMEOUT_SECONDS=60